<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$sub_name}{$sm_config[0]}</title>
<script type="text/javascript" src="{$t_dir}jquery.min.js"></script>
<script type="text/javascript" src="{$t_dir}move.js"></script>


<script type="text/javascript">
{literal}

function tools(){
var top=$(document).scrollTop();
if(($.browser.msie==true)&&($.browser.version==6.0)){
if(top>370)$(".right_content").css({position:"absolute",top:top-370});
}else{
if(top>370)$(".right_content").css({position:"fixed",top:"-"&top+"px"});
}
if(top<=370)$(".right_content").css({position:"static",top:0});
}
$(function(){
window.onscroll=tools;
window.onresize=tools;
});

{/literal}
</script>

<link rel="stylesheet" type="text/css" href="{$t_dir}style_l.css" />
<!--[if IE 6]>
	<script type="text/javascript" src="{$t_dir}unitpngfix.js"></script>
<![endif]-->
</head>
<body>
<div class="wrap">
	<div class="header">
    	<div class="logo"><a href="index.php"><img src="{$t_dir}images/logo.gif" alt="" title="" border="0" /></a></div>

    </div>

        <div id="menu">
            <ul>
            <li><a href="index.php">home</a></li>

            		{section name=l loop=$sm_class}
		 		<li {$sm_class[l].tab}><a href="list.php?cid={$sm_class[l].id}">{$sm_class[l].name}</a></li>
					{/section}
            <li><a href="index.php#touch1">get in touch</a></li>

            </ul>
        </div>
    <div class="tab_bg">


        <div class="tab_left">
       <img src="{$t_dir}images/big_icon.png" alt="" title="" border="0" class="big_icon" />
        </div>

        <div class="middle_text">
        <h1>Welcome back~</h1>
        <p>
            		{section name=l loop=$sm_class}
					{$sm_class[l].remark}
					{/section}
        </p>

        </div>

    	<div class="tabs">
        	<div class="tab">
            <img src="{$t_dir}images/icon4.png" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="http://english.sina.com/news/china/">Those news from sina</a><br />
            News from across China
            </p>
            </div>

        	<div class="tab">
            <img src="{$t_dir}images/icon6.png" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="http://au.news.yahoo.com/">Yahoo 7 news Austrilia </a><br />
            Headlines with full coverage
            </p>
            </div>


        	<div class="tab">
            <img src="{$t_dir}images/icon5.png" alt="" title="" border="0" class="tab_icon" />
            <p class="tab_text">
            <a href="http://www.abc.net.au/news/">ABC News Austrilia</a><br />
	        Australian Broadcast Corporation
            </p>
            </div>




        </div>


    <div class="clear"></div>
    </div>



    <div class="center_content">
    	<div class="left_content">


		{section name=l loop=$sm_list}
     <div class="listtt">
      <h3><a href="view.php?id={$sm_list[l].id}">{$sm_list[l].title}</a></h3>
      <span><a href="list.php?cid={$sm_list[l].cid}">{$sm_list[l].cidname}</a></span>
      <div id="more">{$sm_list[l].date_time}</div>
    </div>
    {/section}
  {$pagenav}




        </div>
	<div class = "right_container">
    	<div class="right_content">
        	<div class="title">Sub Categories</div>

            <div class="testimonials">
            	<p>
		  {section name=l loop=$news_class_list_arr}
	      <a href=list.php?cid={$news_class_list_arr[l].id}>{$news_class_list_arr[l].name}</a><br>
		  {/section}
            	</p>
            </div>
		<div class="title" id="touch1">How does the website work</div>
<div class="info_box">


            <p class="info">
            <span>Database:</span> <a href="mysql">See database module</a><br>
            <span>Back end:</span> <a href="back">My administration side</a><br>
            <span>Front end:</span> <a href="front">Check out the logic</a><br>
            </p>
            <img src="./templates/images/database_icon.png" alt="" class="db_icon">
            </div>
		 </div>

        <div class="clear"></div>
    </div>

     <div id="footer">
    	<div class="footer_links">
            <a href>{$sm_config[3]}</a>

        </div>

  </div>
</div>
</body>
</html>